<div class="row">
  <div class="col-xs-12">
    <p class="lead" style="margin-bottom: 10px;">We explored all the awesome forks around <a href="http://github.com/<%= @repositories.first.name %>"><%= @repositories.first.name %></a> on GitHub and found out <%= foo_pluralize(@repositories.count, "nothing particularly interesting, apparently there's not much going on here.", "only the very interesting ones, just for you! The larger the circle, the more important the fork.") %></p>
  </div>
</div>
<div class="row" style="position:relative" >
<div id = "repocontainer">
<% @repositories.each do |repo| %>
	
		<div class = "circlecontent" style = "position:relative">
			<div class="circle">
				
					<div class="repository" data-score="<%= repo.score %>" user-avatar = "<%= repo.user_avatar %>">
					<%# Other properties available: %>
					<%#  * repo.url %>
					<%#  * repo.user_avatar %>
					<%#  * repo.username %>
					</div>
				
			</div>
			<div class = "shadow" style="position:relative"></div>
		<div class ="repositoryname" style ="position:relative; font-size:12px; text-align:center"  ><%= repo.name %></div>
	</div>
	
<% end %>
</div>
  
  <script> draw() </script>

</div>
<div class="row" style="margin-top: 40px; margin-bottom: 20px;">
  <div class="col-xs-12">
    <%= render partial: 'search_form', :locals => {:button_text => "Do that again."} %>
  </div>
</div>
